body {
  background-color: #f0f2f5;
}

.fs-7 {
  font-size: 0.8em;
}

.btn-primary {
  background-color: #ddc179 !important;
  border-color    : #ddc179 !important;
}

.btn :focus {
  outline   : 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.btn-primary:focus {
  background-color: #ddc179 !important;
  border-color    : #ddc179 !important;
}

.main-screen {
  scroll-behavior: smooth;
  height         : 100vh;
  overflow       : auto;
}

.title-leagues,
.title-news {
  border-left: 5px solid #ddc179;
  padding    : 10px;
}

.panel {
  display         : none;
  background-color: white;
  overflow        : hidden;
}

.nav-link:hover {
  background-color: #e6e6e6;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color           : #ddc179;
  background-color: transparent;
  border          : 1px solid #ddc179 !important;
}

table,
th,
td {
  vertical-align : middle;
  border-collapse: collapse;
}

table td {
  height: 50px;
}

.rounded-md {
  border-radius: 10px;
}

.rounded-lg {
  border-radius: 15px;
}

.toast-body p {
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.banner {
  position: relative;
}

.banner-img {
  object-position: center;
  object-fit     : cover;
  width          : 100%;
  height         : 20vh;
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/opacity/see-through */
  position        : absolute;
  left            : 50%;
  top             : 50%;
  transform       : translate(-50%, -50%);
  width           : 100%;
  height          : 100%;
  text-align      : center;
  justify-content : center;
  align-items     : center;
  font-size       : 5vh;
  text-transform  : uppercase;
  display         : flex;
  color           : white;
}

.menu-method-item.active {
  border: 2px solid #ddc179;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.swiper {
  width : 100%;
  height: 90vh;
}

.swiper-slide {
  position  : relative;
  text-align: center;

  /* Center slide text vertically */
  display                : -webkit-box;
  display                : -ms-flexbox;
  display                : -webkit-flex;
  display                : flex;
  -webkit-box-pack       : center;
  -ms-flex-pack          : center;
  -webkit-justify-content: center;
  justify-content        : center;
  -webkit-box-align      : center;
  -ms-flex-align         : center;
  -webkit-align-items    : center;
  align-items            : center;
}

.swiper-slide img {
  display   : block;
  width     : 100%;
  height    : 100%;
  object-fit: cover;


}

.swiper-content {
  position: absolute;
  color   : white;
  z-index : 99;

}

.swiper-slide-shadow {
  opacity         : 1 !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ddc179 !important;
}

.swiper-pagination-bullet {
  background-color: #ddc179 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-main {
  width        : 20px !important;
  border-radius: 5px;
  transition   : all .2s linear;
}

.news-content {
  display           : -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow          : hidden;
  text-overflow     : ellipsis;
  word-break        : break-word;
  flex              : 1;
}

.news img {
  object-fit: cover;
  max-width : 100%;
  height    : 100%;
}

.instruct-cash {
  background: url(/assets/admin/img/DPWD-0118-Background.jpg);
  object-fit: cover;
  height    : 100%;
}

.modal-backdrop {
  z-index: 99 !important;
}

.swiper-overlay {
  position        : absolute;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.sponsor-block-item--img img {
  width       : 150px;
  aspect-ratio: 1/1;
  object-fit  : contain;
}

.error-block {
  display    : grid;
  place-items: center;
}

.error-block h1 {
  font-size     : 200px;
  letter-spacing: 10px;
}

.error-block-desc {
  font-size  : 50px;
  font-weight: lighter;
}

.error-block a {
  padding   : 18px 32px;
  box-shadow: 0 10px 50px #ddc179;
}

.error-block a:hover {
  opacity: 0.8;
}

.news:hover {
  transform : translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  transition: transform 200ms ease;
}

.payment-block-item--method ul li a i,
.contact-block-item ul li a i {
  filter: grayscale(100%);
}

.payment-block-item--method ul li a i:hover,
.contact-block-item ul li a i:hover {
  filter: grayscale(0%);
}
.league-choose-group button{
  background: #fff;
}